.container-filter-todo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
}

.container-filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.container-filters a {
    color: var(--color-dark-varian);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.container-filters a:nth-child(1) ion-icon {
    color: var(--color-danger);
}

.container-filters a:nth-child(2) ion-icon {
    color: var(--color-succes);
}

.container-filters a:nth-child(3) ion-icon {
    color: var(--color-warning);
}

@media (max-width:1852px) {
    .container-filters {
        display: none;
    }
}