.Main {
    margin-top: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1rem;
}

@media (max-width:849px) {
    .Main {
        max-width: 40rem;
        margin: auto;
        margin-top: 7rem;
    }

    .right {
        width: 40rem;
        margin: auto;
    }
}

@media (max-width:530px) {
    .Main {
        max-width: 26rem;
        margin: auto;
        margin-top: 7rem;
    }

    .right {
        width: 26rem;
        margin: auto;
    }
}


@media (max-width:375px) {
    .Main {
        max-width: 22rem;
        margin: auto;
        margin-top: 7rem;
    }

    .right {
        width: 22rem;
        margin: auto;
    }
}