.container-count-todo {
    margin-top: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.container-count-todo:hover {
    box-shadow: none;
}

.count {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.container-count-todo .count h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-left: 20px;
    text-align: end;
}

.container-count-todo .count h1::before {
    position: absolute;
    left: 15%;
    content: '';
    width: 0.2rem;
    background-color: var(--color-violet);
    height: 60%;
}

.container-count-todo .count:nth-child(1) {
    padding: 0.3rem;
    background-color: var(--color-violet2);
    border-radius: 0.5rem;
}

.container-count-todo .count:nth-child(2) {
    padding: 0.3rem;
    background-color: var(--color-primary2);
    border-radius: 0.5rem;
}

.container-count-todo .count:nth-child(3) {
    padding: 0.3rem;
    background-color: var(--color-danger2);
    border-radius: 0.5rem;
}

.container-count-todo .count:nth-child(4) {
    padding: 0.3rem;
    background-color: var(--color-warning2);
    border-radius: 0.5rem;
}

.container-count-todo .count:nth-child(3) h1,
.container-count-todo .count:nth-child(4) h1 {
    font-size: 14px;
    color: var(--color-diasable);
}

.container-count-todo .count:nth-child(3) h1::before,
.container-count-todo .count:nth-child(4) h1::before {
    position: static;
}