ion-icon {
    font-size: 20px;
}

.container-aside {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    height: 100%;
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    overflow: scroll;
}

.container-aside::-webkit-scrollbar {
    display: none;
}

.container-aside:hover {
    box-shadow: none;
}

.close-btn ion-icon {
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    font-size: 2.5rem;
    color: var(--color-disabled);
    display: none;
}

.container-sidebar .task {
    padding: 0px;
    color: var(--color-primary);
    background-color: var(--color-background);
}

.container-sidebar .task:hover {
    margin-left: 0;
}

.container-sidebar .task::before {
    content: '';
    width: 0.4rem;
    background-color: var(--color-primary);
    height: 100%;
}

.sidebar_top {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sidebar_body h4 {
    margin-bottom: 1.4rem;
    color: var(--color-dark-varian);
}

.aside_item {
    display: flex;
    align-items: center;
    height: 3rem;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1rem;
    color: var(--color-disabled);
    padding: 0.3rem;
    transition: all 0.2s ease;
    border-radius: 0.3rem;
}

.aside_item:hover {
    margin-left: 7px;
    background-color: var(--color-background);
}

.aside_item span {
    position: absolute;
    text-align: center;
    color: var(--color-white);
    font-weight: bold;
    width: 2.2rem;
    padding: 0.1rem;
    right: 20px;
    border-radius: 0.2rem;
    background-color: var(--color-primary);
}

.sidebar_bottom {
    margin-top: 2rem;
    color: var(--color-disabled);
}

.sidebar_bottom h4 {
    color: var(--color-dark-varian);
    margin-bottom: 1.4rem;
}

.sidebar_bottom a {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    position: relative;
    gap: 1rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: var(--color-diasable);
}

.sidebar_bottom a:hover {
    margin-left: 7px;
    background-color: var(--color-background);
}

.sidebar_bottom a ion-icon {
    position: absolute;
    right: 30px;
    color: var(--color-dark);
}

.sidebar_bottom .item-layout {
    margin-top: 60px;
}

.sidebar_bottom .item-layout ion-icon {
    position: static;
}

.sidebar_bottom .item-layout:hover {
    position: static;
    color: rgb(240, 96, 96);
}

.sidebar_bottom_img {
    width: 30px;
    height: 30px;
}

.container-aside .span-new {
    background-color: var(--color-warning);
}

.container-aside .span-message {
    background-color: var(--color-danger);
}

@media (max-width:1200px) {

    .container-aside {
        display: flex;
        padding: 0;
    }

    .ancla-aside ion-icon {
        font-size: 1.8rem;
    }

    .sidebar_body .aside_item:hover {
        margin-left: 0px;
    }

    .sidebar_body ion-icon {
        font-size: 1.8rem;
    }

    .container-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside_top_img {
        margin: auto;
    }

    .container-sidebar .task {
        background-color: var(--color-primary);
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .container-sidebar .task::before {
        display: none;
    }

    .sidebar_bottom ion-icon {
        display: none;
    }

    .ancla-aside h3 {
        display: none;
    }

    .aside_item span {
        display: none;
    }

    .aside_item h3 {
        display: none;
    }

    .aside_top_title {
        display: none;
    }


}

@media (max-height:828px) {
    .container-aside {
        height: 100%;
        justify-content: flex-start;

    }
}


@media (max-width:829px) {


    .close-btn ion-icon {
        display: flex;
    }

    .container-aside {
        order: 1;
        position: fixed;
        display: none;
        left: -100%;
        flex-direction: column;
        background: var(--color-white);
        width: 50%;
        min-width: 330px;
        padding: 1rem;
        height: 100vh;
        margin: 0px;
        z-index: 100;
        box-shadow: 0 0 0 50vmax rgba(29, 29, 29, 0.11);
        animation: showMenu 0.6s ease forwards;
    }

    .open-Menu {
        display: flex;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }


    .container-aside:hover {
        box-shadow: 0 0 0 50vmax rgba(29, 29, 29, 0.11);
    }

    .aside_top_img {
        margin: 0;
    }

    .sidebar_top {
        width: 100%;
    }

    .sidebar_body {
        width: 100%;
    }

    .sidebar_bottom {
        width: 100%;
    }

    .ancla-aside h3 {
        display: block;
    }

    .aside_item span {
        display: block;
    }

    .aside_item h3 {
        display: block;
    }

    .aside_top_title {
        display: block;
    }

    .container-sidebar .task {
        background-color: var(--color-white);
        color: var(--color-primary);
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    .sidebar_bottom a ion-icon {
        display: flex;
    }

}