@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto&display=swap');

.light-mode {
  --color-primary: #ad8fe9f4;
  --color-secondary: #824ceef4;
  --color-violet: #c8afea;
  --color-violet2: #cfc7ec;
  --color-primary2: #bfe9e3f4;
  --color-danger: #dd6b7c;
  --color-danger2: rgb(230, 184, 191);
  --color-succes: #2fc895;
  --color-warning: #ffbb55;
  --color-warning2: rgb(236, 223, 204);
  --color-white: #fff;
  --color-disabled: #878787ec;
  --color-info-light: #d4e4e2;
  --color-dark: #444343f4;
  --color-light: rgba(142, 139, 199, 0.21);
  --color-dark-varian: #677f83;
  --color-background: #f1f1f1;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 1rem 2rem var(--color-light);
  --box-shadow2: 0 1rem 2rem rgb(229, 229, 229);
}

/*==========dark theme variables*/

/*.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-varian: #a3dbcc;
  --color-light: rgba(0, 0, 0, 4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}


html {
  font-size: 14px;
  background: var(--color-background);
}


body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  color: var(--color-dark);
  background: var(--color-background);
  overflow-x: hidden;
  z-index: 1;

}

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--dark);

  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {

  background-color: var(--color-primary);
  /* color of the scroll thumb */
  border-radius: 20px;
}


a {
  color: var(--color-dark);

}


h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.91rem;
}

small {
  font-size: 0.82rem;
}



.container-add-todo-mobile {
  display: none;
}

.container-app {
  display: grid;
  gap: 1rem;
  grid-template-columns: 20rem auto 30rem;
  overflow-x: hidden;
}

.container-card-new-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-disabled);
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border: 3px solid var(--color-disabled);
  border-radius: 1rem;
  gap: 0.5rem;
}

.container-card-new-todo h2 {
  width: 100%;
}

.icon-newtodo ion-icon {
  cursor: pointer;
  font-size: 4rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50%;
}

.icon-reload ion-icon {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 1.7rem;
  transition: all 0.4s ease;
  margin-right: 1rem;
}

.icon-reload ion-icon:hover {
  cursor: pointer;
  color: var(--color-primary);
}


@media (max-width:1386px) {
  .container-app {
    grid-template-columns: 20rem auto 25rem;
  }
}

@media (max-width:1200px) {
  .container-app {
    grid-template-columns: 5rem auto 25rem;
  }
}


@media (max-width:829px) {
  .icon-reload ion-icon {
    display: none;
  }

  .container-app {
    grid-template-columns: 1fr;
  }
}