@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto&display=swap');

.light-mode {
  --color-primary: #58cbbaf4;
  --color-secondary: #149b92;
  --color-violet: #c891e1;
  --color-violet2: rgb(233, 209, 243);
  --color-primary2: #bfe9e3f4;
  --color-danger: #dd6b7c;
  --color-danger2: rgb(230, 184, 191);
  --color-succes: #2fc895;
  --color-warning: #ffbb55;
  --color-warning2: rgb(236, 223, 204);
  --color-white: #fff;
  --color-diasable: #a09d9dec;
  --color-info-light: #cbe1df;
  --color-dark: #414040f4;
  --color-light: rgba(132, 187, 200, 0.21);
  --color-primary-variant: #111e88;
  --color-dark-varian: #677f83;
  --color-background: #ecf3f5;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 1rem 2rem var(--color-light);
  --box-shadow2: 0 1rem 2rem rgb(229, 229, 229);
}

/*==========dark theme variables*/

/*.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-varian: #a3dbcc;
  --color-light: rgba(0, 0, 0, 4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;

}


html {
  font-size: 14px;
  background: var(--color-background);
}


body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background: var(--color-background);
}

a {
  color: var(--color-dark);

}


h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.91rem;
}

small {
  font-size: 0.82rem;
}


.container-add-todo-mobile {
  display: none;
}

.container-app {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 22rem auto 30rem;
}

.icon-reload ion-icon {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.4s ease;
  margin-right: 3rem;
}

.icon-reload ion-icon:hover {
  cursor: pointer;
  color: var(--color-primary);
}