.container-filter-todo {
    margin-top: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
    height: 5rem;
}

.btn-new-todo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 15rem;
    height: 3.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    box-shadow: var(--box-shadow2);
    transition: all 0.5s ease;
}

.btn-new-todo:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: var(--color-secondary);
}

.btn-new-todo ion-icon {
    font-size: 2rem;
}