.item-counter-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 100%;
    padding: 1.4rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.item-counter-filter:hover {
    box-shadow: none;
}

.btn-new-todo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 13rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    box-shadow: var(--box-shadow2);
    transition: all 0.5s ease;
}

.btn-new-todo:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: var(--color-secondary);
}

.btn-new-todo ion-icon {
    font-size: 2.5rem;
    color: var(--color-white);
}

@media (max-width:748px) {

    .btn-new-todo {
        width: 10rem;
        font-size: 16px;
    }

    .btn-new-todo ion-icon {
        font-size: 2.7rem;
    }

    .title-task {
        width: 100%;
        justify-content: center;
        margin: 0.7rem;
    }
}